**/.gitkeep
.bundle
.claude
.commit
.devcontainer*
.dockerignore
.env.*
.env_*
.git
.githooks
.gitignore
.gitlab
.gitlab-ci.yml
.idea
.project
.railsview
Dockerfile
GIT_INFO
config/brakeman.ignore
config/database.yml
config/environments/development.rb
config/environments/devint.rb
config/environments/integration.rb
config/environments/release.rb
config/environments/test.rb
db/seeds.rb
doc
docker
Gemfile.internal
lib/generators
lib/tasks/chef_tasks_development.rake
lib/tasks/notices.rake
lib/templates
log/*
perf.rake
script
test
tmp/*
